Preferences
Network Persistent State
SingletonSocket
logs
Local Storage
GPUCache
Dictionaries
DawnCache
Crashpad
Code Cache
Cache
blob_storage
Session Storage
SingletonCookie
SingletonLock
.org.chromium.Chromium.*
